.navbar-light .navbar-nav .nav-link.active {
  color: #ff6363;
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #ff6363;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 16px;
  color: #4d4d4d;
  font-family: none;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.navbar-brand .text-danger {
  font-size: 24px;
  font-weight: bold;
}

.btn-danger {
  background-color: #ff6363;
  border-color: #ff6363;
}

.btn-danger:hover {
  background-color: #ff4949;
  border-color: #ff4949;
}

.bi-cart2 {
  font-size: 24px;
}

.circle {
  width: 50px;
  height: 50px;
  background-color: #f44336;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.letter {
  font-size: 25px;
  color: white;
  font-family: Arial, sans-serif;
  font-weight: bold;
  transform: rotate(-15deg);
}
