<nav class="navbar navbar-expand-lg navbar-light mt-5">
  <div class="container-fluid">
   <div>
    <a class="navbar-brand d-flex align-items-center" href="#">
      <div class="circle">
        <span class="letter">C</span>
      </div>
      
       <!-- <img src="assets/logo.png" alt="Logo" width="30" height="30" class="d-inline-block align-text-top rounded-circle"> -->
      <span class="ms-2 fw-bold">Cook<span class="text-danger">.</span></span>
    </a>
   </div>

  

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-danger" href="#">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Order online</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Reservation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact us</a>
        </li>
      </ul>
      <div class="d-flex align-items-center">
        <a href="#" class="text-dark me-3">
          <i class="bi bi-cart2 fs-5"></i>
        </a>
        <a href="#" class="btn btn-danger text-white px-4">Log in</a>
      </div>
    </div>
  </div>
</nav>
